.link {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
}

.neo-card {
  transition: transform 0.2s ease-in-out;
}

.neo-card:hover {
  transform: scale(1.05);
}

.detail-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}

.detail-title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.detail-image {
  max-width: 100%;
  border-radius: 10px;
}

.detail-description {
  font-size: 1.2em;
}

.detail-description ul {
  list-style-type: none;
  padding: 0;
}

.detail-description li {
  margin: 8px 0;
}

.detail-description strong {
  color: #ae00ff;
}

.detail-description p:nth-child(3) {
  font-size: 1.2em;
  margin-top: 50px;
  margin-bottom: 0;
}

.neo-info strong {
  color: #ae00ff;
}
