nav {
  position: fixed;
  top: 30px;
  left: 25vw;
  min-width: 50%;
  background-color: #333333cc;
  padding: 5px;
  border-radius: 50px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
}

nav li {
  display: inline-block;
}
