.neo-container {
  padding: 20px;
}

.graph-container {
  justify-self: center;
}

.custom-tooltip {
  background-color: #9d80a644;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-tooltip h4 {
  margin: 0;
  font-size: 1.1rem;
}

.custom-tooltip p {
  margin: 5px 0 0;
  font-size: 0.9rem;
}

.secondary-headline {
  margin: 50px 0 0 0;
  font-size: 1.5rem;
}

.neo-gallery {
  margin: 0 auto;
  width: 200px;
}

.neo-card {
  margin: 10px -20px;
  width: 200px;
  padding: 2px 20px;
  background-color: #9d80a644;
  border-radius: 10px;
}

.neo-card h3 {
  margin-top: 15px;
  line-height: 0;
}

.starting-point {
  display: flex;
  gap: 40px;
  margin: 0 10px;
  position: absolute;
  left: 350px;
}
