:root {
  --background-color: #242424;
  --text-color: #ffffff;
}

html {
  overflow-y: scroll;
}

html,
body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.layout-container {
  background-color: var(--background-color);
  color: var(--text-color);
  z-index: 1000;
}

.light-theme {
  --background-color: #f6cfff94;
  --text-color: #362643;
}
.dark-theme {
  --background-color: #242424;
  --text-color: #ffffff;
}
