body {
  background-color: #242424;
}

@keyframes rotate-sideways {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.error-background {
  position: absolute;
  top: -3.5vh;
  left: -3.5vw;
  width: 105vw;
  height: 110vh;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
  animation: rotate-sideways 4s infinite ease-in-out;
  overflow: hidden;
}

.error-image {
  width: 300px;
  height: auto;
}

.error-title {
  font-size: 2.5em;
  margin-bottom: 0;
}

.error-message {
  color: inherit;
  font-size: 1.2em;
}
